 .initForm{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .login-form {
    width: 300px  ;
    color: white !important;
  }

 .login-form-forgot {
    float: right  ;
  }
 .ant-col-rtl .login-form-forgot {
    float: left ;
  }
  .login-form-button {
    width: 100%  ;
  }
 